.checkbox-animated {
                            position: relative;
                            margin-top: 10px;
                            margin-bottom: 10px;
}

                        .checkbox-animated input[type=checkbox] {
                            display: none;
                        }

                        .checkbox-animated input[type=checkbox]:disabled~label .box {
                            border-color: #777;
                            background-color: #E6E6E6;
                        }

                        .checkbox-animated input[type=checkbox]:disabled~label .check {
                            border-color: #777;
                        }

                        .checkbox-animated input[type=checkbox]:checked~label .box {
                            opacity: 0;
                            -webkit-transform: scale(0) rotate(-180deg);
                            -moz-transform: scale(0) rotate(-180deg);
                            transform: scale(0) rotate(-180deg);
                        }

                        .checkbox-animated input[type=checkbox]:checked~label .check {
                            opacity: 1;
                            -webkit-transform: scale(1) rotate(45deg);
                            -moz-transform: scale(1) rotate(45deg);
                            transform: scale(1) rotate(45deg);
                        }

                        .checkbox-animated label {
                            cursor: pointer;
                            padding-left: 28px;
                            font-weight: normal;
                            margin-bottom: 0;
                        }

                        .checkbox-animated label span {
                            display: block;
                            position: absolute;
                            left: 0;
                            -webkit-transition-duration: 0.3s;
                            -moz-transition-duration: 0.3s;
                            transition-duration: 0.3s;
                        }

                        .checkbox-animated label .box {
                            border: 2px solid #d7d7e0;
                            height: 20px;
                            width: 20px;
                            z-index: 888;
                            -webkit-transition-delay: 0.2s;
                            -moz-transition-delay: 0.2s;
                            transition-delay: 0.2s;
                        }

                        .checkbox-animated label .check {
                            top: -7px;
                            left: 6px;
                            width: 12px;
                            height: 24px;
                            border: 2px solid #BADA55;
                            border-top: none;
                            border-left: none;
                            opacity: 0;
                            z-index: 888;
                            -webkit-transform: rotate(180deg);
                            -moz-transform: rotate(180deg);
                            transform: rotate(180deg);
                            -webkit-transition-delay: 0.3s;
                            -moz-transition-delay: 0.3s;
                            transition-delay: 0.3s;
                        }

                        .billing-cover {
                            margin-top: 11px;
                            ;
                        }

                        .wizard_horizontal ul {
                            display: table;
                            list-style: none;
                            position: relative;
                            width: 100%;
                            margin: 0 0 20px;
                            padding-left: 0;
                        }

                        .wizard_horizontal ul.wizard_steps li {
                            display: table-cell;
                            text-align: center;
                        }

                        .wizard_horizontal ul.wizard_steps li a,
                        .wizard_horizontal ul.wizard_steps li:hover {
                            display: block;
                            position: relative;
                            -moz-opacity: 1;
                            filter: alpha(opacity=100);
                            opacity: 1;
                            color: #666;
                        }

                        .wizard_horizontal ul.wizard_steps li a .step_no {
                            width: 43px;
                            height: 40px;
                            line-height: 40px;
                            border-radius: 100px;
                            display: block;
                            margin: 0 auto 5px;
                            font-size: 16px;
                            text-align: center;
                            position: relative;
                            z-index: 5;
                        }

                        .wizard_horizontal ul.wizard_steps li:first-child a:before {
                            left: 50%;
                        }

                        .wizard_horizontal ul.wizard_steps li:first-child a:before {
                            right: 50%;
                        }

                        .step_no,
                        .wizard_horizontal ul.wizard_steps li a.selected:before {
                            background: #8fc746;
                            color: #fff;
                        }

                        .wizard_horizontal ul.wizard_steps li a:before {
                            content: "";
                            position: absolute;
                            height: 4px;
                            background: #ccc;
                            top: 20px;
                            width: 100%;
                            z-index: 4;
                            left: 0;
                        }

                        .wizard_horizontal ul.wizard_steps li:last-child a:before {
                            right: 50%;
                            width: 50%;
                            left: auto;
                        }

                        .wizard_horizontal ul.wizard_steps li a.disabled .step_no {
                            background: #ccc;
                        }

                        #remarks {
                            background: #f5f5fddb;
                            border-bottom: 1px solid;
                        }
                        /******************packagedetail*/
.remarks-text{
    border: none;
}
                        .add button {
                            background-color: #ea982c;
                        }

                        .add button:hover,
                        .add button:focus {
                            background-color: #ea982c;
                        }

                        .add button:active:focus {
                            background-color: #ea982c;
                        }

                        #details {
                            display: none;
                        }

                        #wrapper {
                            width: 995px;
                            padding: 0px;
                            margin: 0px auto;
                            font-family: helvetica;
                            text-align: center;
                        }

                        input[type="button"] {
                            color: white;
                            border: none;
                            width: 60px;
                            height: 35px;
                            border-radius: 3px;
                            background-color: #ea982c;
                            font-size: 16px;
                        }
                        .top-cover{
                            border: 1px solid #65bcfd;
                            margin-bottom: 6px;
                            border-radius: 7px 7px 1px 0px;
                        }
                        .cover-pack{
                            background-color: #197bb2;
                            border-radius: 4px -1px 0px 4px;
                            padding: 5px;
                        }
                        .cover-pack label{
                        color: white;
                        font-weight: bold;
                        font-size: 17px;
                        margin-bottom: 0;
                        }
                         .top-cover p
                         {
                        margin: 5px 4px 4px 6px;
                        font-size: 16px;
                        font-weight: 500;
                        }
/*//////////////////////////////////////login*/

                        @import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
                        .login-block {
                            background: #DE6262;
                            /* fallback for old browsers */
                            background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
                            /* Chrome 10-25, Safari 5.1-6 */
                            background: linear-gradient(to bottom, #0f75bc, #8cc63f);
                            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                            float: left;
                            width: 100%;
                            padding: 50px 0;
                            height: 100vh;
                        }

                        .banner-sec {
                            background: url(assets/img/bg.jpg) no-repeat right bottom;
                            background-size: cover;
                            min-height: 500px;
                            border-radius: 0 10px 10px 0;
                            padding: 0;
                        }
                        .banner-sec img{
                            background:no-repeat left bottom;
                            background-size: cover;
                            min-height: 500px;
                            border-radius: 0 10px 10px 0;
                            padding: 0;
                        }

                        .container {
                            background: #fff;
                            border-radius: 10px;
                            box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
                        }

                        .carousel-inner {
                            border-radius: 0 10px 10px 0;
                        }

                        .carousel-caption {
                            text-align: left;
                            left: 5%;
                        }

                        .login-sec {
                            padding: 50px 30px;
                            position: relative;
                            background-color: white;
                        }

                        .login-sec .copy-text {
                            position: absolute;
                            width: 80%;
                            bottom: 20px;
                            font-size: 13px;
                            text-align: center;
                        }

                        .login-sec .copy-text i {
                            color: #81bf4a;
                        }

                        .login-sec .copy-text a {
                            color: black;
                        }

                        .login-sec h2 {
                            margin-bottom: 30px;
                            font-weight: 800;
                            font-size: 30px;
                            color: #DE6262;
                        }

                        .login-sec h2:after {
                            content: " ";
                            width: 100px;
                            height: 5px;
                            background: #FEB58A;
                            display: block;
                            margin-top: 20px;
                            border-radius: 3px;
                            margin-left: auto;
                            margin-right: auto
                        }

                        .btn-login {
                            background: linear-gradient(45deg, #81bf4a, #1579b6);
                            color: #fff;
                            font-weight: 600;
                        }

                        .btn-login:hover,
                        .btn-login:focus,
                        .btn-login:active {
                            background: linear-gradient(240deg, #81bf4a, #1579b6);
                        }

                        #button:active {
                            background: linear-gradient(240deg, #81bf4a, #1579b6);
                        }

                        .banner-text {
                            width: 70%;
                            position: absolute;
                            bottom: 40px;
                            padding-left: 20px;
                        }

                        .banner-text h3 {
                            color: #fff;
                            font-weight: 600;
                        }

                        .banner-text h4 {
                            color: #fff;
                            font-weight: 600;
                        }

                        .banner-text h3:after {
                            content: " ";
                            width: 100px;
                            height: 5px;
                            background: #FFF;
                            display: block;
                            margin-top: 20px;
                            border-radius: 3px;
                        }

                        .banner-text p {
                            color: #fff;
                        }
                         h1{
      
                            font-weight: bold;
                         
                        }

                        .login-form {
                            margin-top: 11%;
                        }
.forget-password p{
     margin-top: 100px;
}
 .forget-password p a{
    color: #5a9ead;
}
.forget-password p a:hover,
.forget-password p a:focus{
    color: #5a9ead;
}
.logo a{
    color: #3c4858;
}
.h2{
        font-size: 1.9rem !important;
    font-weight: bold;
}
@media (max-width:770px ) {
    
 .login-block {
     height:100%;
 }   
}
/*login end*/


/*package details start*/
.remarks-text{
    width: 100%;
}                   
#data-check{
    background-color: #177ab4;
    width: 100%;
}
.update-btn button{
    background-color: #1579b6;
}